.font-sans {
  font-family: $font-family-sans-serif;
}

.font-md {
  font-size: 18px;
}

.font-lg {
  font-size: 18px;

  @include media(sm) {
    font-size: 24px;
  }
}

.lead {
  font-size: 8px;
  font-family: $font-family-serif;
}
