.footer {
  background-color: $brand-primary;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 15;
  text-align: center;
}

.footer > a {
  color: white;
}

.footer > a > h3 {
  color: white;
  margin: 0.25em;
}
