.midd-footer {
  background-color: $navy-dark;
  padding-top: $spacing-4;
  padding-bottom: $spacing-4;
  @include print-hide;
}

.container {
  @include make-container;
}

.midd-footer__list {
  padding-left: 0;
  margin: 0;
  list-style-type: none;
  @include media(lg) {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    margin: 0;
  }
}

.midd-footer__item {
  margin: 0;
  &:not(:first-child) {
    @include media(lg) {
      margin-left: $spacing-3;
    }
    @include media(xl) {
      margin-left: $spacing-4;
    }
  }
}

.midd-footer__link {
  color: $white;
  font-size: 14px;
  display: block;
  padding-top: $spacing-1;
  padding-bottom: $spacing-1;
  white-space: nowrap;
  text-decoration: none;

  &:hover {
    color: white;
    text-decoration: underline;
  }

  @include media(lg) {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-lg-3,
.col-lg-9 {
  width: 100%;
}

.col-lg-9 {
  @include media(lg) {
    flex: 0 0 75%;
    max-width: 75%;
  }
}

.col-lg-3 {
  @include media(lg) {
    flex: 0 0 25%;
    max-width: 25%;
  }
}

.mb-4 {
  margin-bottom: 1.5rem !important;
}

.mb-lg-0 {
  @include media(lg) {
    margin-bottom: 0 !important;
  }
}
