.split-pane-row {
  width: 100vw;
  height: calc(100% - 162px);
  display: flex;
  flex-direction: column;
  overflow: hidden;

  @include media(lg) {
    flex-direction: row;
    min-height: 90vh;
    max-height: 90vh;
  }
}

.split-pane-right,
.split-pane-left {
  // flex: 1;
  overflow: hidden;
  padding: 20px;
}

.split-pane-left {
  min-width: 25vw;
  overflow-y: auto;
}

.split-pane-right {
  background-color: #fff;
  background-size: 100% 1.2em;
  z-index: 10;
  overflow: scroll;
  width: 100%;

  @include media(lg) {
    overflow-x: hidden;
  }
}

.separator-col {
  border: 5px solid lighten($gray, 30%);
  z-index: 10;

  @include media(lg) {
    cursor: col-resize;
  }
}

.separator-row {
  border: 5px solid black;
  cursor: row-resize;
}

ul li {
  margin: 1rem;
  // list-style-type: square;
}

blockquote {
  border-left: 10px solid #ccc;
  margin: 5.5em 0 0 0;
  quotes: "\201C""\201D""\2018""\2019";
  padding: 2rem 0 1rem;
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

.quote {
  max-width: 60%;
  text-align: right;
  margin: auto;
  font-style: italic;
}

.quote span {
  font-weight: bold;
}
