// Media sizes
// prettier-ignore
$grid-breakpoints: (
    xs: 0,
    sm: 480px,
    md: 768px,
    lg: 1024px,
    xl: 1440px
);

$grid-gutter-width: rem(32) !default;
$grid-gutter-width-lg: rem(64) !default;

$container-max-width: 1440px !default;

$spacer: 1rem;

// prettier-ignore
$spacers: (
  0: 0,
  1: 1.5rem,
  2: 3rem,
  3: 4rem,
  4: 6rem
);

$spacing-0: 0 !default;
$spacing-1: rem(4) !default;
$spacing-2: rem(8) !default;
$spacing-3: rem(16) !default;
$spacing-4: rem(24) !default;
$spacing-5: rem(32) !default;
$spacing-6: rem(40) !default;
$spacing-7: rem(48) !default;
$spacing-8: rem(64) !default;
$spacing-9: rem(96) !default;

$spacing: (
  0: $spacing-0,
  1: $spacing-1,
  2: $spacing-2,
  3: $spacing-3,
  4: $spacing-4,
  5: $spacing-5,
  6: $spacing-6,
  7: $spacing-7,
  8: $spacing-8,
  9: $spacing-9,
);

// Font families
$font-family-sans-serif: ("open sans", helvetica, arial, sans-serif);
$font-family-serif: ("domine", georgia, "times new roman", serif);

// Font sizes
$base-font-size: 16px;
$base-line-height: 1.4;

////
/// Colors
////

$navy-light: #174872 !default;
$navy: #0d395f !default;
$navy-dark: #022543 !default;

$blue-dark: #407ab1 !default;
$blue: #75a3cd !default;
$blue-light: #97bbd5 !default;
$blue-lighter: #e5f1fa !default;

// shades
$white: #fff !default;
$black: #202020 !default;

// grays
$gray: #767676 !default;
$gray-light: #dedede !default;
$gray-lighter: #f8f8f8 !default;
$gray-dark: #414142 !default;

// brand
$brand-primary: $navy !default;
$brand-primary-dark: $navy-dark !default;

// school colors
$color-college: $navy;

// Area specific colors
$body-bg-color: $white;
$body-font-color: $black;
$body-font-family: $font-family-serif;

$link-color: $brand-primary;
$link-color-hover: $brand-primary-dark;

$menu-width: 300px;
